{
	admin off
	storage file_system {
		root /tmp/caddy
	}
}

:8080 {
	root * /app/public
	encode zstd gzip

	php_server {
		try_files {path} /index.php
        worker {
            file /app/public/index.php
            num 4
        }
	}

	file_server
}
